<section ng-controller="HomeController">
    <br>
    <div class="jumbotron">
        <accordion close-others="oneAtATime">
            <accordion-group>
                <div class="col-xs-12">
                    <accordion-heading>
                        <div tooltip-placement="top" tooltip="View correct answers">
                            Appetizers
                        </div>
                    </accordion-heading>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <img class = "img-responsive" src="http://media.crossingtravel.com/files/tag/2015/10/01/beef-pho-in-hanoi-14461.jpg" alt="Pho">
                    </div>
                    <div class = "col-xs-7">
                        Phở or pho[1] (pronounced variously as /fʌ/, /fə/, /fər/, or /foʊ/;[2] Vietnamese: [fəː˧˩˧] ( listen)) is a Vietnamese noodle soup consisting of broth, linguine-shaped rice noodles called bánh phở, a few herbs, and meat, primarily served with either beef or chicken.[3] Pho is a popular street food in Vietnam[4] and the specialty of a number of restaurant chains around the world. Southern Vietnamese eat it for breakfast and occasionally lunch, whereas those from northern Vietnam consume it at any time of day.[5][6]
                    </div>
                    <div class = "col-xs-2">
                        <br>
                        <center>$12</center>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" tooltip="Subtract 1"type="button" ng-click="subtract()">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>                                
                            </span>
                            <input type="text" class="form-control" id="questionTime" ng-model="quantity" placeholder="1" size="1" value="quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-default" tooltip="Add 1" type="button" ng-click="add()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>                        
                    </div>
                </div>
            </accordion-group>
        </accordion>
        <accordion close-others="oneAtATime">
            <accordion-group>
                <div class="col-xs-12">
                    <accordion-heading>
                        <div tooltip-placement="top" tooltip="View correct answers">
                            Entrees
                        </div>
                    </accordion-heading>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <img class = "img-responsive" src="http://media.crossingtravel.com/files/tag/2015/10/01/beef-pho-in-hanoi-14461.jpg" alt="Pho">
                    </div>
                    <div class = "col-xs-7">
                        Phở or pho[1] (pronounced variously as /fʌ/, /fə/, /fər/, or /foʊ/;[2] Vietnamese: [fəː˧˩˧] ( listen)) is a Vietnamese noodle soup consisting of broth, linguine-shaped rice noodles called bánh phở, a few herbs, and meat, primarily served with either beef or chicken.[3] Pho is a popular street food in Vietnam[4] and the specialty of a number of restaurant chains around the world. Southern Vietnamese eat it for breakfast and occasionally lunch, whereas those from northern Vietnam consume it at any time of day.[5][6]
                    </div>
                    <div class = "col-xs-2">
                        <center><p>$<span ng-bind="pricePho"></span></p></center>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" tooltip="Subtract 1"type="button" ng-click="subtractPho()">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>                                
                            </span>
                            <input type="text" class="form-control" id="questionTime" ng-model="quantity" placeholder="1" size="1" value="quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" tooltip="Add 1" type="button" ng-click="addPho()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                        <br>
                        <center>
                            <button type="button" class="btn btn-warning" aria-label="Shopping Cart">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </button>
                        </center>
                    </div>
                </div>
            </accordion-group>
        </accordion>
        <accordion close-others="oneAtATime">
            <accordion-group>
                <div class="col-xs-12">
                    <accordion-heading>
                        <div tooltip-placement="top" tooltip="View correct answers">
                            Desserts
                        </div>
                    </accordion-heading>
                </div>
                <p>

                </p>
            </accordion-group>
        </accordion>
        <accordion close-others="oneAtATime">
            <accordion-group>
                <div class="col-xs-12">
                    <accordion-heading>
                        <div tooltip-placement="top" tooltip="View correct answers">
                            Drinks
                        </div>
                    </accordion-heading>
                </div>
                <p>

                </p>
            </accordion-group>
        </accordion>
    </div>
</section>